<mat-card [id]="bike.id" [ngClass]="['card', class]" appHoverAffect="border">
    <mat-card-header>
        <div class="card-img">
            <div *ngIf="bike.imgURL; else defaultImage">
                <img mat-card-image  [src]="bike.imgURL" alt={{bike.title}} (click)="handleClick(bike)">
            </div>
            <ng-template #defaultImage>
                <img mat-card-image [src]="defaultBike" alt={{bike.title}} (click)="handleClick(bike)">
            </ng-template>
        </div>
    </mat-card-header>

    <mat-card-content class="card-body">
        <h2>{{bike.title}}</h2>
        <p>{{bike.description}}</p>
        <p><strong>Creator:</strong> {{bike.creator}}</p>
    </mat-card-content>
    
    <mat-card-footer>
        <p *ngIf="bike.type" appHoverAffect="underline"><strong>Type:</strong> {{bike.type}}</p>
        <p *ngIf="bike.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of bike.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </p>
    </mat-card-footer>
</mat-card>